In [1]:
import numpy as n

import pandas as p
boing=p.read_csv("boing_mixed.csv")
print(boing.dtypes)
boing.head()

Unnamed: 0                 int64
rsi14                    float64
rsi14_cat                 object
typicalprice             float64
moneyflow                float64
mfi14                    float64
mfi14_cat                 object
close14                  float64
weekofday_cat             object
weekofyear               float64
daysrisingfalling_cat     object
target_cat                object
dtype: object

,Unnamed: 0,rsi14,rsi14_cat,typicalprice,moneyflow,mfi14,mfi14_cat,close14,weekofday_cat,weekofyear,daysrisingfalling_cat,target_cat
0,0,0.0,NaN,87.328333,9.210257e+08,0.0,NaN,0.0,Tu,36.0,neutral,+
1,1,0.0,NaN,87.546667,8.599096e+08,0.0,NaN,0.0,We,36.0,neutral,neutral
2,2,0.0,NaN,87.660000,1.029137e+09,0.0,NaN,0.0,Th,36.0,neutral,neutral
3,3,0.0,NaN,87.260000,1.130069e+09,0.0,NaN,0.0,Fr,36.0,neutral,+
4,4,0.0,NaN,87.848333,8.167260e+08,0.0,NaN,0.0,Mo,37.0,neutral,neutral

### Statistische Abhängigkeit 2x intervallskaliert

In [2]:
boing.corr()

,Unnamed: 0,rsi14,typicalprice,moneyflow,mfi14,close14,weekofyear
Unnamed: 0,1.000000,0.055642,-0.631365,-0.241626,0.081134,-0.218724,0.070659
rsi14,0.055642,1.000000,0.180317,-0.103460,0.255447,0.261708,0.102069
typicalprice,-0.631365,0.180317,1.000000,-0.034155,0.014929,0.562051,-0.057716
moneyflow,-0.241626,-0.103460,-0.034155,1.000000,0.188533,0.010531,-0.099370
mfi14,0.081134,0.255447,0.014929,0.188533,1.000000,0.388611,-0.037089
close14,-0.218724,0.261708,0.562051,0.010531,0.388611,1.000000,-0.104708
weekofyear,0.070659,0.102069,-0.057716,-0.099370,-0.037089,-0.104708,1.000000

### Statistische Abhängigkeit 1xkategorisch 1xintervall

#### skip neutral days

In [5]:
boing_not0=boing[boing.target_cat!="neutral"]
boing_not0.head()

,Unnamed: 0,rsi14,rsi14_cat,typicalprice,moneyflow,mfi14,mfi14_cat,close14,weekofday_cat,weekofyear,daysrisingfalling_cat,target_cat
0,0,0.0,NaN,87.328333,9.210257e+08,0.0,NaN,0.0,Tu,36.0,neutral,+
3,3,0.0,NaN,87.260000,1.130069e+09,0.0,NaN,0.0,Fr,36.0,neutral,+
5,5,0.0,NaN,87.833333,1.038462e+09,0.0,NaN,0.0,Tu,37.0,neutral,+
6,6,0.0,NaN,88.523333,9.915676e+08,0.0,NaN,0.0,We,37.0,neutral,-
10,10,0.0,NaN,88.980000,7.955880e+08,0.0,NaN,0.0,Tu,38.0,bull,+

### Student T-Test (independent samples)

In [6]:
from scipy.stats  import ttest_ind
subset_plus=boing_not0[boing_not0.target_cat=="+"]
subset_minus=boing_not0[boing_not0.target_cat=="-"]
for testvariable in boing_not0.keys():    
    if "cat" not in testvariable:#make T-test only for non-categorial variables        
        tval,pval=ttest_ind(subset_plus[testvariable],subset_minus[testvariable])
        print("testvariable:",testvariable,"tval=",tval,"pval=",pval)

testvariable: Unnamed: 0 tval= -0.30715609765343693 pval= 0.7588322121837331
testvariable: rsi14 tval= -0.7224879039131411 pval= 0.47027890428495966
testvariable: typicalprice tval= -1.7161335245492102 pval= 0.08665900075790679
testvariable: moneyflow tval= 0.3332143499130167 pval= 0.739090066888618
testvariable: mfi14 tval= 1.7173415761306405 pval= 0.08643800863966067
testvariable: close14 tval= -1.1145647255733317 pval= 0.26548774558046573
testvariable: weekofyear tval= 1.3639067356346561 pval= 0.17311351688697554

### Statistische Abhängigkeit 2xkategorisch

#### X²-Test of categorial variables using contingency tables (provided by Pandas)

In [179]:
from scipy.stats import chi2_contingency

for testvariable in boing_not0.keys():
    if "cat" in testvariable:#make X² test only for categoric variables
    
        contingencyTable=p.crosstab(boing_not0[testvariable],boing_not0.target_cat)

        chi2,pval,dof,expectedFreq=chi2_contingency(contingencyTable)
        print("\n\ntestvariable:",testvariable,"chi2=",chi2,"pval=",'{:f}'.format(pval),"dof=",dof)#show pval in non-scienetific expression
        print(contingencyTable)

testvariable: rsi14_cat chi2= 0.07040006837779388 pval= 0.965412 dof= 2
target_cat    +    -
rsi14_cat
neutral      65   67
overbought  105  103
oversold    126  123


testvariable: mfi14_cat chi2= 4.077206957045652 pval= 0.130210 dof= 2
target_cat    +    -
mfi14_cat
neutral      77   74
overbought  116   95
oversold    103  124


testvariable: weekofday_cat chi2= 1.5013822571500426 pval= 0.826397 dof= 4
target_cat      +   -
weekofday_cat
Fr             64  59
Mo             54  49
Th             55  61
Tu             68  61
We             59  66


testvariable: daysrisingfalling_cat chi2= 115.89521454926862 pval= 0.000000 dof= 2
target_cat               +    -
daysrisingfalling_cat
bear                     0   66
bull                    49    0
neutral                251  230


testvariable: target_cat chi2= 592.0065318338609 pval= 0.000000 dof= 1
target_cat    +    -
target_cat
+           300    0
-             0  296